@model IEnumerable<EStore.Catalog.Application.Dtos.ProductDto>


@{
    ViewData["Title"] = "Produtos";
}



<div class="row">
    <h2>Produtos</h2>
</div>


<hr/>

<div class="row">

    @{
        foreach (var product  in Model.OrderBy(p => p.CategoryId))
        {
            <div class="col-md-2 col-sm-6" style="margin: 10px;">
                <span class="thumbnail">
                    <a asp-controller="Store" asp-action="ProductDetails" asp-route-id="@product.Id"><img width="200" height="200" src="~/Images/@product.Image" /></a>
                    <h4>@product.Name</h4>
                    <p>@product.QtyStock em estoque</p>
                    <p>@product.Description</p>
                    <p class="price">@product.Price.ToString("C")</p>
                </span>

            </div>
        }

    
    }

</div>