@model IEnumerable<EStore.Catalog.Application.Dtos.ProductDto>


@{
    ViewData["Title"] = "Produtos";
}



<div class="row">
    <h2>Administração de Produtos</h2>
</div>


<div >
    <a asp-controller="AdminProduct" asp-action="NewProduct" class="btn btn-success"> Adicionar Novo Produto</a>
</div>

<hr/>

<div class="row">

    @{
        foreach (var product  in Model.OrderBy(p => p.CategoryId))
        {
            <div class="col-md-2 col-sm-6" style="margin: 10px;">
                <span class="thumbnail">
                    <img width="200" height="200" src="~/Images/@product.Image" />
                    <h4>@product.Name</h4>
                    <p>@product.QtyStock em estoque</p>
                    <p>@product.Description</p>
                    <p class="price">@product.Price.ToString("C")</p>
                    <hr class="line">
                    <div class="row">
                        <a asp-controller="AdminProduct" asp-action="UpdateProduct" asp-route-id="@product.Id" class="btn btn-secondary" style="margin-bottom: 5px">Atualizar Produto</a>
                        
                        <a asp-controller="AdminProduct" asp-action="UpdateStock" asp-route-id="@product.Id" asp-route-qty="" class="btn btn-dark">Atualizar Estoque</a>
                    </div>
                </span>

            </div>
        }

    
    }

</div>

        