@model EStore.Catalog.Application.Dtos.ProductDto


@{
    ViewData["Title"] = "Editar Produto" ;
}

<div class="container">
    <div class="row">
        <div class="col-md-4 item-photo">
            <img width="400" height="400" src="~/Images/@Model.Image"/>
        </div>

        <div class="col-md-6" style="border:20px solid white">
            <h3>@Model.Name</h3>

            <h6 class="title-price"><small>OFERTA</small></h6>
            <h3 style="margin-top:0px;">@Model.Price.ToString("C")</h3>

            <p>Apenas @Model.QtyStock em estoque!</p>
            <p>@Model.Description</p>

            <div class="section" style="padding-bottom:20px;">

                <form method="post" asp-asp-controller="AdminProduct" asp-action="UpdateStock">
                   <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
                   <input type="text" id="qty" name="qty" />
                   <button class="btn btn-success">Atualizar Estoque</button>
                   <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>